body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("table.jpg");
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 50px;
}

h1 {
    color: goldenrod;
    margin-top: 80px;
    font-size: 80px;
    margin-bottom: 40px;
}

#message-el {
    color: white;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 50px;
    font-style: italic;
}
#game {
    color: #016f32;
    width: 200px;
    background: goldenrod;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}
#newCard {
    color: #016f32;
    width: 200px;
    background: goldenrod;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
}
